{% extends "std/base.html" %} {% block start %} {% include "std/navbar.html" %}
<h1 class="text-center my-3">Login Page</h1>

<div class="container ">
  <div class="col-6 mx-auto card shadow p-4 ">
    <form method="POST">
    {% csrf_token %}
    {% if messages %}
    {{ message.tags }}
    <div class="alert alert-primary" role="alert">
         {% for message in messages %}
         
  {{ message }}
    
    {% endfor %}
    </div>
{% endif %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
  </div>
  <p>don`t have account <a href="{% url "register_page"%}">Register</a></p>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    
      
{% endblock %}
